<form #f=ngForm (ngSubmit)="onSubmit(f)">
    <div class="div-1" ngModelGroup="person">
        <label for="firstName">First Name</label>
        <input ngModel 
            name="firstName" 
            type="text" 
            style="width: 100%;" 
            id="firsName" 
            #firstName="ngModel" 
            (change)="log(firstName)"
            minlength=3
            required>
        <label for="lastName">Last Name</label>
        <input ngModel 
            name="lastName" 
            type="text" 
            style="width: 100%;" 
            id="lastName" 
            #lastName="ngModel" 
            (change)="log(lastName)"
            minlength=3
            required>
            <label for="checkBox">
                <input 
                    id="checkBox" 
                    type="checkbox" 
                    name="checkBox" 
                    ngModel 
                    #checkBox="ngModel" 
                    (click)="log(checkBox)"
                    >
                    I am a checkbox
            </label>
            <label>
                <select id="select" ngModel name="select">
                    <option value=""></option>
                    <option *ngFor="let item of data" [value]="item.id">{{ item.value }}</option>
                </select>
            </label>
            <label [for]="item.value" *ngFor="let item of data">
                <input type="radio" name="radio" [id]="item.id" [value]="item.value" ngModel> {{ item.value }}
            </label>
        <div *ngIf="firstName.touched && !firstName.valid">
            <p *ngIf="firstName.errors.required" style="color: red">First Name is required</p>
            <p *ngIf="firstName.errors.minlength" style="color: red">Min length should be {{firstName.errors.minlength.requiredLength}}</p>
        </div>
    </div>
    
    <div class="div-2">
        <label for="comment">Comment</label>
        <Textarea ngModel
            ngDefaultControl
            name="comment"
            id="comment"
            style="width: 100%;"
            ></Textarea>
    </div>
    <div class="button">
        <button type="submit">Submit</button>
        <button type="button" (click)="reset()">reset</button>
    </div>
    <div class="div-2">
        <p>
            {{f.value | json}}
        </p>
    </div>
</form>